openapi: 3.2.0
info:
  title: TheRundown Sports V2 WebSocket API
  version: 2.0.0
  description: Real-time and historical sports betting data, odds, lines, and statistics across major North American and international sports leagues.
  contact:
    name: TheRundown API Support
    url: https://therundown.io
    email: support@therundown.io
  termsOfService: https://therundown.io/terms
servers:
- url: https://therundown.io
  description: Production
security:
- ApiKeyQuery: []
- ApiKeyHeader: []
tags:
- name: V2 WebSocket
  description: Real-time streaming via WebSocket (V2)
paths:
  /api/v2/ws/markets:
    get:
      operationId: v2WebSocketMarkets
      tags:
      - V2 WebSocket
      summary: Markets WebSocket — stream real-time market price updates
      description: 'Establishes a WebSocket connection for streaming V2 market price changes in real-time.


        **Connection**: `wss://therundown.io/api/v2/ws/markets?key=YOUR_API_KEY`


        **Filter parameters** (query string):

        - `affiliate_ids` — comma-separated affiliate IDs

        - `sport_ids` — comma-separated sport IDs

        - `event_ids` — comma-separated event IDs

        - `market_ids` — comma-separated market IDs


        All filters are optional. If none are specified, all messages are received.


        **Heartbeat**: Server sends `{"meta":{"type":"heartbeat"},"data":{"now":""}}` every 15 seconds.


        **Message format**:

        ```json

        {

        "meta": {...},

        "data": {

        "affiliate_id": 19,

        "sport_id": 4,

        "event_id": "abc123",

        "market_id": 1,

        ...

        }

        }

        ```


        **Queue**: 256-message buffer per client. If the client falls behind, messages are dropped.'
      parameters:
      - $ref: '#/components/parameters/AffiliateIDsQuery'
      - name: sport_ids
        in: query
        schema:
          type: string
        description: Comma-separated sport IDs to filter
      - name: event_ids
        in: query
        schema:
          type: string
        description: Comma-separated event IDs to filter
      - name: market_ids
        in: query
        schema:
          type: string
        description: Comma-separated market IDs to filter
      responses:
        '101':
          description: WebSocket upgrade successful
components:
  parameters:
    AffiliateIDsQuery:
      name: affiliate_ids
      in: query
      schema:
        type: string
      description: Comma-separated sportsbook/affiliate IDs to filter. Common values include DraftKings (19), FanDuel (23), BetMGM (22), Bovada (2), Pinnacle (3).
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: API key as query parameter
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-Therundown-Key
      description: API key as request header
