openapi: 3.0.3
info:
  title: TheRundown Sports V1 Delta V1 Reference API
  version: 2.0.0
  description: 'Real-time and historical sports betting data, odds, lines, and statistics across major North American and international sports leagues.


    ## Authentication

    All endpoints (except `/sports` and `/affiliates`) require authentication. Pass your API key using one of:

    - **Query parameter**: `?key=YOUR_API_KEY`

    - **Header**: `X-Therundown-Key: YOUR_API_KEY`

    ## Off-the-Board Sentinel Value

    The value **0.0001** indicates a line is "off the board" — the sportsbook has temporarily removed pricing (e.g., pending injury news). This is NOT an error. Display as "Off Board" or "N/A" in your UI.


    ## Rate Limiting

    Requests are rate-limited per API key tier. Check response headers for current limits.


    ## Data Updates

    - Live odds update in real-time during games

    - Use delta endpoints for efficient polling of changes

    - WebSocket connections available for streaming updates


    ## V1 vs V2

    V2 endpoints use market-based data structures (market_id, participants, line prices). V1 endpoints use legacy line-based structures (moneyline, spread, total objects). V2 is recommended for new integrations.

    '
  contact:
    name: TheRundown API Support
    url: https://therundown.io
    email: support@therundown.io
  termsOfService: https://therundown.io/terms
servers:
- url: https://therundown.io
  description: Production
security:
- ApiKeyQuery: []
- ApiKeyHeader: []
tags:
- name: V1 Reference
  description: Reference data (V1 legacy)
paths:
  /api/v1/affiliates:
    get:
      operationId: v1GetAffiliates
      tags:
      - V1 Reference
      summary: List all sportsbooks/affiliates
      security: []
      parameters:
      - name: include
        in: query
        schema:
          type: string
          enum:
          - regions
      responses:
        '200':
          description: List of affiliates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatesResponse'
              example:
                affiliates:
                - affiliate_id: 3
                  affiliate_name: Pinnacle
                  affiliate_url: https://www.pinnacle.com
                - affiliate_id: 19
                  affiliate_name: DraftKings
                  affiliate_url: https://sportsbook.draftkings.com
                - affiliate_id: 23
                  affiliate_name: FanDuel
                  affiliate_url: https://sportsbook.fanduel.com
  /api/v1/sportsbooks:
    get:
      operationId: v1GetSportsbooks
      tags:
      - V1 Reference
      summary: List all sportsbooks (alias)
      security: []
      parameters:
      - name: include
        in: query
        schema:
          type: string
          enum:
          - regions
      responses:
        '200':
          description: List of sportsbooks
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AffiliatesResponse'
              example:
                affiliates:
                - affiliate_id: 3
                  affiliate_name: Pinnacle
                  affiliate_url: https://www.pinnacle.com
                - affiliate_id: 19
                  affiliate_name: DraftKings
                  affiliate_url: https://sportsbook.draftkings.com
  /api/v1/season_types:
    get:
      operationId: v1GetSeasonTypes
      tags:
      - V1 Reference
      summary: List season types per sport
      responses:
        '200':
          description: Season types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SeasonTypesResponse'
              example:
                season_types:
                - sport_id: 2
                  sport_name: NFL
                  season_type_id: 1
                  season_type_name: Preseason
                - sport_id: 2
                  sport_name: NFL
                  season_type_id: 2
                  season_type_name: Regular Season
                - sport_id: 4
                  sport_name: NBA
                  season_type_id: 2
                  season_type_name: Regular Season
components:
  schemas:
    Region:
      type: object
      properties:
        id:
          type: integer
        name:
          type: string
    SeasonTypeSport:
      type: object
      properties:
        sport_id:
          type: integer
        sport_name:
          type: string
        season_type_id:
          type: integer
        season_type_name:
          type: string
    AffiliatesResponse:
      type: object
      properties:
        affiliates:
          type: array
          items:
            $ref: '#/components/schemas/Affiliate'
    SeasonTypesResponse:
      type: object
      properties:
        season_types:
          type: array
          items:
            $ref: '#/components/schemas/SeasonTypeSport'
    Affiliate:
      type: object
      properties:
        affiliate_id:
          type: integer
          example: 19
        affiliate_name:
          type: string
          example: Draftkings
        affiliate_url:
          type: string
          example: https://draftkings.com
        regions:
          type: array
          items:
            $ref: '#/components/schemas/Region'
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: key
      description: API key as query parameter
    ApiKeyHeader:
      type: apiKey
      in: header
      name: X-Therundown-Key
      description: API key as request header
